.image{
  width: 50%;
  height: auto;
  border: 2px solid green;
  border-radius: 50%;
}

.AA {
  display: inline-block;
}

#header{
  height: 200px;
  width: 100%;
  float: left;
  background-color: yellow;
  color: blue;
  text-align: center;
}

#middle{
  height: 200px;
  width: 20%;
  background-color: orange;
  color: blue;
  text-align: center;
}

#left{
  height: 200px;
  width: 20%;
  float: left;
  background-color: red;
  color: blue;
  text-align: center;
}

#right{
  height: 200px;
  width: 20%;
  margin-left: 20%
  float:right;
  background-color: blue;
  color: blue;
  text-align: center;
}
/*--------------------------------------------------------------*/

#header-google{
  height: 30px;
  width: 100%;
  background-color: none;
  text-align: right;
}

.image2{
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

#middle-google{
  height: 800;
  width: 100%;
  padding-top: 20%;
  padding-bottom: 20%;
}
#Search{
  margin-left: 30%;
  width: 40%;
  height: 30px;
  text-align: center;

  border: none;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    height: 44px;
    outline: none;
    transition: box-shadow 200ms cubic-bezier(0.4,0.0,0.2,1);
}

#Gmail{
  margin-right: 1%;
}

#imagens{
  margin-right: 5%;
}

.pesquisa-google{
  display: inline-block;
  background-color: #f2f2f2;
  margin-left: 35%;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.pesquisa-sorte{
  display: inline-block;
  background-color: #f2f2f2;
  margin-left: 2%;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
